---
import logo from "../assets/imgs/logo.svg";
---

<footer class="bg-slate-100">
  <div class="container">
    <div class="flex justify-between py-10 items-center">
      <a href="#!" class="inline-block">
        <img src={logo.src} alt="" />
      </a>
      <nav class="flex gap-x-2">
        <a href="#!" class="inline-block py-2 px-5 font-medium">Courses</a>
        <a href="#!" class="inline-block py-2 px-5 font-medium">Mentors</a>
        <a href="#!" class="inline-block py-2 px-5 font-medium">Grants</a>
        <a href="#!" class="inline-block py-2 px-5 font-medium">Blogs</a>
      </nav>
      <div class="flex gap-x-6">
        <a href="#!" class="text-slate-500 text-2xl"
          ><i class="ti ti-brand-instagram"></i></a
        >
        <a href="#!" class="text-slate-500 text-2xl"
          ><i class="ti ti-brand-linkedin"></i></a
        >
        <a href="#!" class="text-slate-500 text-2xl"
          ><i class="ti ti-brand-youtube"></i></a
        >
        <a href="#!" class="text-slate-500 text-2xl"
          ><i class="ti ti-brand-telegram"></i></a
        >
      </div>
    </div>
    <hr />
    <div class="py-10 text-center">© GrantGo 2024. All rights reserved.</div>
  </div>
</footer>
