---
import logo from "../assets/imgs/logo.svg";
---

<header class="border-b">
  <div class="container">
    <div class="flex justify-between py-6 items-center">
      <a href="#!" class="inline-block">
        <img src={logo.src} alt="" />
      </a>
      <nav class="flex gap-x-2">
        <a href="#!" class="inline-block py-2 px-5 font-medium">Courses</a>
        <a href="#!" class="inline-block py-2 px-5 font-medium">Mentors</a>
        <a href="#!" class="inline-block py-2 px-5 font-medium">Grants</a>
        <a href="#!" class="inline-block py-2 px-5 font-medium">Blogs</a>
        <a
          href="#!"
          class="inline-flex gap-2 items-baseline rounded-lg py-2 px-5 font-medium bg-primary text-white"
          >Get started <i class="ti ti-arrow-right"></i></a
        >
      </nav>
    </div>
  </div>
</header>
