---
import logo from "../assets/imgs/logo.svg";
---

<header class="h-24">
  <div
    x-data="{ atTop: window.pageYOffset <= 50  }"
    @scroll.window="atTop = (window.pageYOffset < 50) ? false: true"
    :class=" atTop ? 'fixed' : 'relative border-b' "
    class="left-0 top-0 right-0 transition-all duration-300 bg-white z-50">
    <div class="container px-4 md:px-0">
      <div
        class="flex justify-between transition-all duration-200 items-center"
        :class="atTop ? 'py-2' : 'py-6'">
        <a href="#!" class="inline-block">
          <img src={logo.src} alt="" />
        </a>
        <nav class="gap-x-2 hidden md:flex">
          <a href="/" class="inline-block py-2 px-5 font-medium">Courses</a>
          <a href="/mentors" class="inline-block py-2 px-5 font-medium">Mentors</a>
          <a href="#!" class="inline-block py-2 px-5 font-medium">Grants</a>
          <a href="#!" class="inline-block py-2 px-5 font-medium">Blogs</a>
          <a
            href="#!"
            class="inline-flex gap-2 items-baseline rounded-lg py-2 px-5 font-medium bg-primary text-white"
            >Get started <i class="ti ti-arrow-right"></i></a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
